rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.token.email in [
        'william.cherrette@gmail.com',
        'ryanf@schepersbrothers.com',
        'bairjon.JB@gmail.com',
        'Galmy177@gmail.com',
        'kwebert80@gmail.com',
        'martyschrauben@gmail.com',
        'matt.overweg@springportschools.net'
      ]
    }
  }
}